In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,161.704,8.708,27822
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,166.401,8.689,21119
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,84.446,8.570,12747
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,77.562,8.567,16192
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,60.237,8.500,8935

In [5]:
import pandas as pd
import requests

# Initialize an empty list to collect DataFrames
dfs = []

for i in range(1, 429):  # Adjust the range as needed
    response = requests.get(
        'https://api.themoviedb.org/3/movie/top_rated',
        params={
            'api_key': '8265bd1679663a7ea12ac168da84d2e8',
            'language': 'en-US',
            'page': i
        }
    )
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
    ]
    dfs.append(temp_df)

# Concatenate all DataFrames in the list into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

In [6]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,161.704,8.708,27822
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,166.401,8.689,21119
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,84.446,8.570,12747
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,77.562,8.567,16192
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,60.237,8.500,8935
...,...,...,...,...,...,...,...
8555,438650,Cold Pursuit,"The quiet family life of Nels Coxman, a snowpl...",2019-02-07,33.830,5.830,2618
8556,71679,Resident Evil: Retribution,The Umbrella Corporation’s deadly T-virus cont...,2012-09-12,3.603,5.830,4029
8557,49524,R.I.P.D.,A recently slain cop joins a team of undead po...,2013-07-18,22.011,5.830,4038
8558,8457,Drillbit Taylor,"Dealing with a sociopathic school bully, three...",2008-02-04,18.012,5.830,1039
8559,1691,Hostel: Part II,Three American college students studying abroa...,2007-06-07,24.286,5.800,2048

In [7]:
df.shape

(8560, 7)

In [8]:
df.to_csv('Top_Rated_Movie_csv')